server:
  applicationConnectors:
    - type: http
      port: ${PORT:-0}
  adminConnectors:
    - type: http
      port: ${ADMIN_PORT:-0}

logging:
  level: INFO
  appenders:
    - type: console
      threshold: ALL
      timeZone: UTC
      target: stdout
      logFormat: "[%X{X-Request-Id}] - [%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] %highlight(%-5level) %cyan(%logger{15}) - %msg %n"

graphiteHost: ${METRICS_HOST:-localhost}
graphitePort: ${METRICS_PORT:-8092}

database:
  driverClass: org.postgresql.Driver
  user: ${DB_USER}
  password: ${DB_PASSWORD}
  url: jdbc:postgresql://${DB_HOST:-products.db.pymnt.localdomain}:${DB_PORT:-5432}/${DB_NAME:-products}?sslfactory=uk.gov.pay.products.util.TrustingSSLSocketFactory&${DB_SSL_OPTION}

  # the maximum amount of time to wait on an empty pool before throwing an exception
  maxWaitForConnection: 1s

  # the SQL query to run when validating a connection's liveness
  validationQuery: "SELECT '1'"

  # the timeout before a connection validation queries fail
  validationQueryTimeout: 2s

  # The initial size of the connection pool
  initialSize: 4

  # the minimum number of connections to keep open
  minSize: 4

  # the maximum number of connections to keep open
  maxSize: 8

  # whether or not idle connections should be validated
  checkConnectionWhileIdle: false

  # the amount of time to sleep between runs of the idle connection validation, abandoned cleaner and idle pool resizing
  evictionInterval: 10s

  # the minimum amount of time an connection must sit idle in the pool before it is eligible for eviction
  minIdleTime: 1 minute

proxy:
  enabled: ${HTTP_PROXY_ENABLED:-true}
  host: ${HTTP_PROXY_HOST}
  port: ${HTTP_PROXY_PORT}

jpa:
  jpaLoggingLevel: ${JPA_LOG_LEVEL:-WARNING}
  sqlLoggingLevel: ${JPA_SQL_LOG_LEVEL:-WARNING}
  ddlGenerationOutputMode: database
  queryResultsCache: false
  cacheSharedDefault: false

jerseyClientConfiguration:
  disabledSecureConnection: "false"

baseUrl: ${BASE_URL}
publicApiUrl: ${PUBLICAPI_URL}
productsUiPayUrl: ${PRODUCTSUI_PAY_URL}
productsUiConfirmUrl: ${PRODUCTSUI_CONFIRMATION_URL}
